{% extends "base/theme.html" %}
{% block main_content %}
<div class="row main-content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% for location in object_list %}
    <div class="row">
        <div class="col-md-8">
          <h3><a href="{{ location.get_absolute_url }}">{{ location.title }}</a></h3>
        </div>
        <div class="col-md-4 text-right">
          <h3>{% include "base/rating.html" with rating=location.get_average_rating %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% if location.address %}<p><b>Location: </b>{{ location.address }}</p>{% endif %}
        {% if location.hours %}<p>{{ location.hours }}</p> {% endif %}
        {% include "locations/specifics.html" with location=location %}
        {% if location.image_file %}
          <a href="{{ location.get_absolute_url }}"><img class="img-responsive center-block" style="max-height: 400px;" src="{{ location.image_file.url }}"></img></a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
